body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
}

.menu-toggle {
  background-color: #495057;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: left;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #495057;
}

.menu ul li:hover {
  background-color: #495057;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;    /* Centra el contenido verticalmente */
  padding: 10px;
  background-color: #007bff;
  color: white;
  position: relative;      /* Permite posicionar los iconos con precisión */
}

.header-icons {
  position: absolute;      /* Posiciona los iconos en el extremo derecho */
  right: 20px;
}

.header-icons span {
  margin-left: 15px;
  cursor: pointer;
}

header h2 {
  margin: 0;
  text-align: center;      /* Asegura que el texto del título esté centrado */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
  text-align: center;
  padding: 10px;
  border: 1px solid #dee2e6;
}

th {
  background-color: #e9ecef;
  font-weight: bold;
}

.gray {
  background-color: #dee2e6;
}

.purple {
  background-color: #d8b0ff;
}

.green {
  background-color: #b0ffc6;
}

.yellow {
  background-color: #fffb91;
}

.blue {
  background-color: #a3d8ff;
}

.orange {
  background-color: #ffc992;
}

.red {
  background-color: #ff9999;
}

.pink {
  background-color: #ffc4d6;
}
